"institution","degrees","regime","name","description"
1,"upper-tech","yearly","Contaduria General","909/89"
1,"upper-tech","yearly","Turismo","99/08"
1,"upper-tech","yearly","Industria de la Madera","99/08"
1,"upper-tech","yearly","Mecanica Automotriz","99/08"
1,"upper-tech","yearly","Mecanica Industrial","99/08"
1,"upper-tech","yearly","Industria de Alimentos","99/08"
1,"upper-tech","yearly","Electricidad Industrial","99/08"
1,"upper-tech","yearly","Agropecuaria","99/08"
1,"upper-tech","yearly","Artesania","99/08"
1,"upper-tech","yearly","Bellas Artes","99/08"
1,"upper-tech","yearly","Secretariado Ejecutivo","99/08"
1,"upper-tech","yearly","Tecnico en Administracion de Empresas","99/08"
1,"upper-tech","yearly","Sistemas Informaticos","99/08"
1,"upper-tech","yearly","Agropecuaria","99/08"
2,"upper-tech,mid-tech","yearly","Electromecanica","261/05"
2,"upper-tech,mid-tech","yearly","Electronica y Automatizacion Industrial","261/05"
2,"upper-tech,mid-tech","yearly","Sistemas Informaticos","261/05"
2,"upper-tech","yearly","Industria de Alimentos","522/15"
2,"upper-tech","yearly","Mecanica Automotriz","522/15"
3,"upper-tech","yearly","Administracion de Empresas","259/11"
3,"upper-tech","yearly","Sistemas Informaticos","259/11"
3,"upper-tech","yearly","Construccion Civil","259/11"
3,"upper-tech","yearly","Contaduria General","259/11"
3,"upper-tech","yearly","Secretariado Ejecutivo","259/11"
4,"mid-tech","yearly","Secretariado Ejecutivo","369/84"
4,"upper-tech","yearly","Contaduria General","074/02"
4,"upper-tech","yearly","Secretariado Ejecutivo","074/02"
4,"upper-tech","yearly","Sistemas Informaticos","074/02"
4,"mid-tech","yearly","Tecnico Bancario","074/02"
4,"upper-tech","yearly","Gestion Municipal","028/10"
5,"upper-tech","yearly","Contaduria General","1005/91"
5,"upper-tech","yearly","Secretariado Ejecutivo","1005/91"
5,"upper-tech","yearly","Sistemas Informaticos","1005/91"
6,"upper-tech,mid-tech","yearly","Agropecuaria","730/13"
7,"upper-tech","yearly","Secretariado Ejecutivo","70/2009"
7,"upper-tech","yearly","Contaduria General","70/2009"
7,"upper-tech","yearly","Parvulario","70/2009"
7,"upper-tech","yearly","Gastronomia","319/2016"
7,"training","modular","Dactilografia Computarizada","70/2009"
7,"training","modular","Operacion de Sistemas","70/2009"
7,"training","modular","Gastronomia Turistica","319/2016"
8,"upper-tech","yearly","Agropecuaria","802/2015"
8,"training","modular","Produccion de Miel de Abeja y Derivados","211/2016"
8,"training","modular","Fabricacion de Muebles en Madera","211/2016"
8,"training","modular","Produccion de Citiricos","211/2016"
8,"training","modular","Confeccion de Ropa Casual","211/2016"
9,"upper-tech","yearly","Secretariado Ejecutivo","826/1986"
9,"upper-tech","yearly","Contaduria General","826/1986"
9,"upper-tech","yearly","Sistemas Informaticos","066/2012"
9,"upper-tech","semiyearly","Turismo","066/2012"
9,"upper-tech","yearly","Mercadotecnia","301/2015"
10,"upper-tech","yearly","Agropecuaria","672/2009"
10,"upper-tech","yearly","Industria de Alimentos","672/2009"
11,"upper-tech","yearly","Agropecuaria","674/2009"
11,"upper-tech","yearly","Veterinaria y Zootecnia","674/2009"
12,"upper-tech","yearly","Agropecuaria","673/2009"
12,"upper-tech","yearly","Industria de Alimentos","673/2009"
13,"upper-tech","yearly","Agropecuaria","671/2009"
13,"upper-tech","semiyearly","Construccion Civil","671/2009"
14,"mid-tech","yearly","Confeccion Textil Industrial","077/08"
14,"mid-tech","yearly","Artesania","077/08"
14,"mid-tech","yearly","Gastronomia","077/08"
14,"mid-tech","semiyearly","Estetica","077/08"
15,"upper-tech","mixed","Secretariado Ejecutivo","284/94"
15,"upper-tech","mixed","Electricidad Industrial","318/2005"
15,"upper-tech","mixed","Electronica","203/2004"
15,"upper-tech","mixed","Construccion Civil","06/96"
16,"upper-tech","yearly","Contaduria General","088/88"
16,"upper-tech","yearly","Secretariado Ejecutivo","953/2009"
16,"upper-tech","semiyearly","Topografia","953/2009"
16,"upper-tech","yearly","Gastronomia","953/2009"
16,"upper-tech","yearly","Administracion de Empresas","088/88"
16,"upper-tech","yearly","Sistemas Informaticos","953/2009"
16,"upper-tech","semiyearly","Construccion Civil","953/2009"
16,"upper-tech","semiyearly","Mecanica Automotriz","047/2015"
16,"upper-tech","semiyearly","Informatica Industrial","343/2015"
17,"upper-tech","yearly","Turismo y Hoteleria","226/2005"
17,"upper-tech","yearly","Agropecuaria","[005/95,475/96]"
17,"upper-tech","yearly","Veterinaria y Zootecnia","226/2005"
17,"upper-tech","yearly","Mecanica Automotriz","233/02"
17,"upper-tech","yearly","Administracion de Empresas","226/2005"
18,"upper-tech","semiyearly","Mecanica Industrial","340/2012"
18,"mid-tech","semiyearly","Electricidad Industrial","340/2012"
18,"upper-tech","semiyearly","Industria de la Madera","340/2012"
18,"upper-tech","semiyearly","Industria Textil y Confeccion","340/2012"
19,"upper-tech","yearly","Mecanica Industrial","333/2011"
19,"upper-tech","yearly","Quimica Industrial","333/2011"
19,"upper-tech","yearly","Mecanica Automotriz","333/2011"
19,"upper-tech","yearly","Electricidad Industrial","333/2011"
19,"upper-tech","yearly","Industria de Alimentos","084/09"
19,"upper-tech","yearly","Mantenimiento Industrial","333/2011"
20,"upper-tech","yearly","Agropecuaria","005/95"
20,"upper-tech","yearly","Industria de Alimentos","1527/98 – 087/02"
20,"upper-tech","yearly","Veterinaria y Zootecnia","056/06"
21,"mid-tech","yearly","Enfermeria","493/08-1044/2014"
21,"upper-tech","yearly","Sistemas Informaticos","493/08-1044/2014"
21,"upper-tech","yearly","Industria de Alimentos","493/08-1044/2014"
21,"upper-tech","yearly","Agroecologia","314/2013"
22,"upper-tech","yearly","Veterinaria y Zootecnia","271/2011"
22,"upper-tech","yearly","Industria de Alimentos","271/2011"
22,"upper-tech","semiyearly","Construccion Civil","271/2011"
22,"upper-tech","yearly","Agropecuaria","271/2011"
23,"upper-tech","semiyearly","Mecanica Industrial","091/2012"
23,"upper-tech","semiyearly","Electricidad Industrial","091/2012"
23,"upper-tech","semiyearly","Electronica","091/2012"
23,"upper-tech","semiyearly","Mecanica Automotriz","091/2012"
24,"upper-tech","yearly","Administracion de Empresas","801/2015"
24,"upper-tech","semiyearly","Electricidad Industrial","501/2015"
24,"upper-tech","semiyearly","Mecanica Industrial","801/2015"
25,"upper-tech","yearly","Contaduria General","619/1954"
25,"upper-tech","yearly","Secretariado Ejecutivo","619/1954"
25,"upper-tech","semiyearly","Turismo","097/02"
25,"upper-tech","yearly","Gastronomia","048/2015"
26,"upper-tech","yearly","Contaduria General","[619/1954,1055/1964]"
26,"upper-tech","yearly","Secretariado Ejecutivo","[619/1954,1055/1964]"
26,"upper-tech","yearly","Mercadotecnia","1260/1994"
26,"upper-tech","yearly","Sistemas Informaticos","100/02"
